<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/product/product_write.css}">
    <style>
        .errmsg {
            fonst-size: 0.8em;
            font-weight: bold;
            color:red;
        }
    </style>
</head>
<body>
<form id="form" action="" method="post" th:object="${form}" >
    <main class="main container">
        <h2>판매글 작성</h2>
        <div class="p-write-info">
            <table class="write_tb">
                <tr>
                    <th ><label for="">글제목</label></th>
                    <td colspan="3"><input class="title" type="text" th:field="*{title}" placeholder="제목을 입력하세요(30자 이내)"></td>
                </tr>
                <tr>
                    <th><label for="">상품명</label></th>
                    <td><input type="text" th:field="*{pName}" placeholder="20자 이내"></td>
                    <th><label for="">마감시간</label></th>
                    <td><input type="datetime-local" th:field="*{deadlineTime}"></td>
                </tr>
                <tr>
                    <th><label for="">업종 </label></th>
                    <td><select name="category" id="categoryChk">
                        <option value="tob" selected disabled>업종선택</option>
                        <option value="한식">한식</option>
                        <option value="중식">중식</option>
                        <option value="일식">일식</option>
                        <option value="양식">양식</option>
                        <option value="아시안식">아시안식</option>
                        <option value="분식">분식</option>
                        <option value="도시락">도시락</option>
                        <option value="카페/디저트">카페/디저트</option>
                    </select></td>
                    <th><label for="totalCount">수량</label></th>
                    <td><input type="number" th:field="*{totalCount}" min="0"></td>
                </tr>
                <tr>
                    <th><label for="normalPrice">정상가</label></th>
                    <td><input type="text" th:field="*{normalPrice}" placeholder="숫자만 입력해주세요"></td>
                    <th><label for="salePrice" >할인가</label></th>
                    <td><input type="text" th:field="*{salePrice}" placeholder="숫자만 입력해주세요"></td>
                </tr>
                <tr>
                    <th><label for="paymentOption">결제 방식</label></th>
                    <td><select th:field="*{paymentOption}" >
                        <option value="2" SELECTED>온라인/현장</option>
                        <option value="1">현장 결제</option>
                        <option value="0">온라인 결제</option>
                    </select></td>
                    <th><label for="">첨부파일</label></th>
                    <td><input type="file" accept="image/jpg, image/jpeg, image/png" th:field="*{paymentOption}"  multiple><a href="#">삭제</a></td>
                </tr>
                <tr >
                    <td colspan="4">
                        <ul class="photos">
                            <li></li>

                        </ul>
                    </td>
                </tr>
                <tr>
                    <th><label for="detailInfo">상세설명</label></th>
                    <td colspan="3"><textarea name="" id="" rows="10" th:field="*{detailInfo}" autofocus="autofocus"></textarea></td>
            </table>
            <div class="write-btn">
                <button type="button" id="cancel_Btn">취소</button>
                <button type="submit" id="save">등록</button>
            </div>
        </div>
    </main>
</form>
    <script>
        cancel_Btn.addEventListener('click', e=>{
            location.href='/greats';
        });
    </script>
</body>
</html>