<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <style>
        .errmsg {
            fonst-size: 0.8em;
            font-weight: bold;
            color:red;
        }
    </style>
</head>
<body>
<form id="form" action="" method="post" th:object="${form}" >
    <table>
        <tr>
            <th><label th:text="#{label.product.pname}">상품명</label></th>
            <td><input type="text" id="pname" name="pname" th:field="*{pname}" placeholder="상품명을 입력하세요(20자 이내)" th:class="${#fields.hasErrors('pname')}? fieldError"></td>
            <td>
                <ul th:if="${#fields.hasErrors('pname')}" th:class="errmsg">
                    <li th:each="err: ${#fields.errors('pname')}" th:text="|${err}|"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th><label th:text="#{label.product.quantity}">수량</label></th>
            <td><input type="number" id="quantity" name="quantity" th:field="*{quantity}" min="0"></td>
            <td>
                <ul th:if="${#fields.hasErrors('quantity')}" th:class="errmsg">
                    <li th:each="err: ${#fields.errors('quantity')}" th:text="|${err}|"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th><label th:text="#{label.product.price}">가격</label></th>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
    </table>
    <div>
        <button type="button" id="cancelBtn" th:text="#{btn.cancel}">취소</button>
        <button type="submit" th:text="#{btn.add}">등록</button>
    </div>
</form>
    <script>
        cancelBtn.addEventListener('click', e=>{
            location.href='/product';
        });
    </script>
</body>
</html>