<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정</title>
</head>
<body>
    <h3>상품 수정</h3>
    <hr>
    <form id="form" action="" method="post" th:object="${form}" >
        <table>
            <tr>
                <th><label>상품 ID</label></th>
                <td><input type="text" th:field="*{productId}" readonly></td>
            </tr>
            <tr>
                <th><label>상품명</label></th>
                <td><input type="text" th:field="*{pname}"></td>
            </tr>
            <tr>
                <th><label>수량</label></th>
                <td><input type="number" th:field="*{quantity}" min="0"></td>
            </tr>
            <tr>
                <th><label >가격</label></th>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
        </table>
        <div>
            <button type="button" id="cancelBtn">취소</button>
            <button type="submit">수정</button>
        </div>
    </form>
<script th:inline="javascript">
    cancelBtn.addEventListener('click', e=> {
        location.href=[[@{|/product/${form.productId}|}]];
    });
</script>

</body>
</html>