<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록</title>
</head>
<body>

<section>
    <div>
        <div>상품ID</div>
        <div></div>
    </div>
    <div>
        <div>상품명</div>
        <div></div>
    </div>
    <div>
        <div>수량</div>
        <div><span></span>개</div>
    </div>
    <div>
        <div>가격</div>
        <div><span></span>원</div>
    </div>
</section>
<div>
    <button>등록하기</button>
</div>
</body>
</html>